{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Single Page</title>
    <style></style>

    <script src="{% static 'singlepageapp/showSection.js' %}"></script>
  </head>
  <body>
    <h1>Hello!</h1>
    <button data-section="1">Section 1</button>
    <button data-section="2">Section 2</button>
    <button data-section="3">Section 3</button>
    <a href="{% url 'hello:index' %}">Go Back</a>
    <a href="{% url 'singlepageapp:scroll' %}">Go To Scroll Page</a>
    <div id="content"></div>
  </body>
</html>
